.input-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  padding: 10px;
  background-color: #f7bc47;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
